html {
  box-sizing: border-box;
  padding: 2em;
  background-color: #eee9de;
  font-family: sans-serif;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #333;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, sans-serif;

}

h1 {
  margin: 0;
  padding: 0 .5em;
  color: #333;
  text-align: left;
  font-weight: bold;
  font-style: normal;
  font-family: Lato, sans-serif;
}

section div {
  margin: 0;
  padding: 1em;
  color: #333;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, sans-serif;
}

section img {
  display: inline-block;
  width: inherit;
  max-width: 18em;
  vertical-align: middle;
}

img {
  padding: 0 0 2em;
  display: block;
  width: 100%;
  max-width: 18em;

}

p {
  margin: 0;
  padding: 1em;
  color: #333;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, sans-serif;
}

h2 {
  margin: 0;
  padding: .5em;
  color: #333;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  font-family: Lato, sans-serif;
}

.btn {
  display: inline-block;
  border: 3px solid #666;
  padding: .05em .5em;
  border-radius: .5em;
  text-align: left;
  background-color: #eee9de;
  text-decoration: none;
  margin-bottom: 3em;
}

button:hover {
  background-color: #666;
  margin: 0;
  list-style-type: none;
}
