html {
  box-sizing: border-box;
  padding: 20em;
  background-color: #eee9de;
  font-family: sans-serif;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

section img {
  display: inline-block;
  width: inherit;
  max-width: 20em;
  vertical-align: middle;
}

body {
  margin: 0;
  background-color: #eee9de;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, sans-serif;
}
